force-app/main/default/flows/Table_Consulta_de_Permiss_es_por_Field_via_Permission_Set_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribuir_a_Cole_o_de_Resultado</name>
        <label>Atribuir a Coleção de Resultado</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collection_CamposResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CamposComPermissaoDeLeitura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirAColecaoDeResultado</name>
        <label>Atribuir a Coleção de Resultado</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collection_CamposResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CamposPermissaoDeEdicao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirColecaoDeResultado</name>
        <label>Atribuir a Coleção de Resultado</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collection_CamposResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CamposPermissaoDeEdicaoELeitura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escolha_invalida</name>
        <label>Escolha invalida</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>escolhaInvalida</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Escolher_o_Campo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetarEscolhaInvalida</name>
        <label>Resetar Escolha Invalida</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>escolhaInvalida</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarQualTipoDePermissao</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>BuscarQualTipoDePermissao</name>
        <label>Buscar qual tipo de Permissão</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Escolha_invalida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Escolha invalida</defaultConnectorLabel>
        <rules>
            <name>Leitura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permissao_para_Leitura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposComPermissaoDeLeitura</targetReference>
            </connector>
            <label>Leitura</label>
        </rules>
        <rules>
            <name>Edicao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissaoParaEdicao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposPermissaoDeEdicao</targetReference>
            </connector>
            <label>Edição</label>
        </rules>
        <rules>
            <name>LeituraEEdicao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissaoParaEdicao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permissao_para_Leitura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposPermissaoDeEdicaoELeitura</targetReference>
            </connector>
            <label>Leitura e Edição</label>
        </rules>
    </decisions>
    <description>Adicionado querys dos campos, filtro e depois resultado final</description>
    <dynamicChoiceSets>
        <name>choice_Fields</name>
        <collectionReference>Obter_campos_do_Objeto_Escolhido</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>FieldDefinition</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collection_SObjects</name>
        <collectionReference>Get_All_Objects_in_the_Org</collectionReference>
        <dataType>String</dataType>
        <displayField>QualifiedApiName</displayField>
        <object>EntityDefinition</object>
        <valueField>DurableId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Table - Consulta de Permissões por Field via Permission Set Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Table - Consulta de Permissões por Field via Permission Set Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CamposComPermissaoDeLeitura</name>
        <label>Campos com Permissão de Leitura</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_a_Cole_o_de_Resultado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EscolherOCampo.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionsRead</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldPermissions</object>
        <sortField>Field</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CamposPermissaoDeEdicao</name>
        <label>Campos com Permissão de Edição</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirAColecaoDeResultado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EscolherOCampo.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionsEdit</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldPermissions</object>
        <sortField>Field</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CamposPermissaoDeEdicaoELeitura</name>
        <label>Campos com Permissão de Edição e Leitura</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirColecaoDeResultado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EscolherOCampo.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionsRead</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionsEdit</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldPermissions</object>
        <sortField>Field</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Objects_in_the_Org</name>
        <label>Get All Objects in the Org</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tela_Pesquisa_dos_field_via_PSG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeprecatedAndHidden</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCustomSetting</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsLayoutable</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_campos_do_Objeto_Escolhido</name>
        <label>Obter campos do Objeto Escolhido</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escolher_o_Campo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Campos</name>
        <label>Campos</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CamposMostrado</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FieldPermissions</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collection_CamposResult</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Field&quot;,&quot;guid&quot;:&quot;column-afdd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do campo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SobjectType&quot;,&quot;guid&quot;:&quot;column-f0a6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do tipo de sObject&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escolher_o_Campo</name>
        <label>Escolher o Campo</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetarEscolhaInvalida</targetReference>
        </connector>
        <fields>
            <name>mensagemErro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(251, 0, 0);&quot;&gt;É obrigatório selecionar uma opção&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>escolhaInvalida</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Escolher_o_Campo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escolher_o_Campo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EscolherOCampo</name>
                    <choiceReferences>choice_Fields</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Escolher o Campo</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escolher_o_Campo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Permissao_para_Leitura</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Permissão para Leitura</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PermissaoParaEdicao</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Permissão para Edição</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Consultar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Pesquisa_dos_field_via_PSG</name>
        <label>Tela - Pesquisa dos field via PSG</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Obter_campos_do_Objeto_Escolhido</targetReference>
        </connector>
        <fields>
            <name>Tela_Pesquisa_dos_field_via_PSG_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tela_Pesquisa_dos_field_via_PSG_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Object</name>
                    <choiceReferences>collection_SObjects</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Objeto</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tela_Pesquisa_dos_field_via_PSG_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Objects_in_the_Org</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_CamposResult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldPermissions</objectType>
    </variables>
    <variables>
        <name>escolhaInvalida</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
